---
- name: Verify requirements
  ansible.builtin.assert:
    that:
      - ansible_facts.distribution_major_version|int >= 8
      - ansible_facts.os_family == 'RedHat'
      - cx_pihole_config | type_debug == 'str'
      - cx_pihole_config | length > 0

- name: Remove systemd-resolved
  notify:
    - Remove stub /etc/resolv.conf
    - Restart NetworkManager
  ansible.builtin.dnf:
    name: systemd-resolved
    state: absent

- name: Flush handlers
  ansible.builtin.meta: flush_handlers

- name: Create Pi-hole config dir
  ansible.builtin.file:
    name: /etc/pihole
    mode: "0775"
    state: directory

- name: Copy pihole.toml
  ansible.builtin.copy:
    content: "{{ cx_pihole_config }}"
    dest: /etc/pihole/pihole.toml
    mode: "0640"

- name: Install Pi-hole
  block:
    - name: Download Pi-hole install script
      ansible.builtin.get_url:
        url: https://raw.githubusercontent.com/pi-hole/pi-hole/master/automated%20install/basic-install.sh
        dest: /tmp/pihole-basic-install.sh
        mode: "0750"
    - name: Run Pi-hole install script
      changed_when: true
      environment:
        PIHOLE_SELINUX: "{{ cx_pihole_allow_selinux | ternary('true', omit) }}"
      ansible.builtin.command:
        cmd: /tmp/pihole-basic-install.sh --unattended
  always:
    - name: Delete Pi-hole install script
      ansible.builtin.file:
        path: /tmp/pihole-basic-install.sh
        state: absent
