<VirtualHost *:443>
	ServerName pihole.arb.chrisx.xyz
	SSLEngine on
	SSLCertificateFile /etc/ssl/chrisx.xyz/fullchain.pem
	SSLCertificateKeyFile /etc/ssl/chrisx.xyz/privkey.pem

	Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
	Header set Referrer-Policy "same-otigin"
	Header set X-Content-Type-Options "nosniff"
	Header set X-Frame-Options "SAMEORIGIN"
	Header set X-Robots-Tag "none"
	Header set X-XSS-Protection "1; mode=block"

	OIDCProviderMetadataURL https://sso.chrisx.xyz/realms/chrisx/.well-known/openid-configuration
	OIDCClientID {{ pihole_oidc.client_id }}
	OIDCClientSecret {{ pihole_oidc.client_secret }}
	OIDCRemoteUserClaim sub
	OIDCScope openid
	OIDCRedirectURI https://pihole.arb.chrisx.xyz/openid-connect
	OIDCCryptoPassphrase {{ oidc_crypto }}
	OIDCSessionInactivityTimeout 3600
	OIDCStateMaxNumberOfCookies 2 true

	DocumentRoot /var/www/html

	<Location "/openid-connect">
		AuthType openid-connect
		Require valid-user
	</Location>

	<Directory "/var/www/html/admin">
		AuthType openid-connect
		Require claim roles:admin
	</Directory>
</VirtualHost>
