<VirtualHost *:443>
	ServerName pages.chrisx.xyz
	SSLEngine on
	SSLCertificateFile /etc/ssl/chrisx.xyz/fullchain.pem
	SSLCertificateKeyFile /etc/ssl/chrisx.xyz/privkey.pem
	Protocols h2 http/1.1

	Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
	Header set Cache-Control "no-cache"
	Header set Referrer-Policy "no-referrer"
	Header set X-Content-Type-Options "nosniff"
	Header set X-Frame-Options "DENY"
	Header set X-Robots-Tag "none"
	Header set X-XSS-Protection "1; mode=block"

	OIDCProviderMetadataURL https://sso.chrisx.xyz/realms/chrisx/.well-known/openid-configuration
	OIDCClientID pages.chrisx.xyz
	OIDCClientSecret {{ pages_client_secret }}
	OIDCRemoteUserClaim sub
	OIDCScope openid
	OIDCRedirectURI https://pages.chrisx.xyz/auth/openid-connect
	OIDCCryptoPassphrase {{ oidc_crypto }}
	OIDCSessionInactivityTimeout 3600
	OIDCStateMaxNumberOfCookies 2 true

	DocumentRoot /var/www/html

	<Location "/auth/openid-connect">
		AuthType openid-connect
		Require valid-user
	</Location>

	<Directory "/var/www/html/launcher">
		Header set Content-Security-Policy "base-uri 'none'; object-src 'none'; script-src 'none';"
		AuthType openid-connect
		Require claim roles:access
	</Directory>

	<Directory "/var/www/html/launcher/admin">
		AuthType openid-connect
		Require claim roles:admin
	</Directory>

	<Directory "/var/www/html/launcher/img">
		Require all granted
	</Directory>

	<FilesMatch "\.(jpe?g|png|gif|svg|webp|js|css)$">
		Header unset Cache-Control
	</FilesMatch>
</VirtualHost>
