[Unit]
Description=Keycloak.X Server
ConditionFileIsExecutable=/opt/keycloak/bin/kc.sh
After=network-online.target

[Service]
StartLimitInterval=5
StartLimitBurst=10
User=iamapps
ExecStart=/opt/keycloak/bin/kc.sh start
WorkingDirectory=/opt/keycloak
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
