---
extends: default

rules:
  braces:
    max-spaces-inside: 1
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  document-start:
    level: error
  line-length:
    max: 120
  octal-values:
    forbid-explicit-octal: true
    forbid-implicit-octal: true
  truthy:
    level: error

yaml-files:
  - "*.yaml"
  - "*.yml"
  - ".yamllint"
