[basic]
10.69.0.9                   ansible_user=root ansible_python_interpreter=/usr/bin/python3
[iam]
iam.tinynet.chrisx.xyz      ansible_user=root ansible_python_interpreter=/usr/bin/python3
[storage]
storage.tinynet.chrisx.xyz  ansible_user=root ansible_python_interpreter=/usr/bin/python3
[webhosts]
webhost1.tinynet.chrisx.xyz ansible_user=root ansible_python_interpreter=/usr/bin/python3
