[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.12"

[packages]
ansible-core = "~=2.16.0"

[dev-packages]
ansible-lint = "~=24.2.0"
pre-commit = ">=3.6.0"
yamllint = "*"
