[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11"

[packages]
ansible-core = "~=2.15.2"

[dev-packages]
ansible-lint = "~=6.21.1"
pre-commit = "*"
yamllint = "*"
