<VirtualHost *:80>
	ServerName go

{% for link in golinks %}
	RedirectMatch 302 ^/{{ link.src }}/?$ {{ link.dst }}
{% endfor %}

	ErrorLog /var/log/apache2/go_error.log
	CustomLog /var/log/apache2/go_access.log combined
</VirtualHost>
