## OAuth2 Proxy Config File
## https://github.com/oauth2-proxy/oauth2-proxy

http_address = ":34181"
proxy_prefix = "/authproxy/internal"
reverse_proxy = true
set_xauthrequest = true

#skip_provider_button = true
custom_sign_in_logo = "-"
banner = '<h1 class="title">TinyNET SSO</h1><h2 class="subtitle">Internal Users</h2>'
footer = "&copy; 2021 TinyNET"

whitelist_domains = ".tinynet.chrisx.xyz"
email_domains = "chrisx.xyz"
provider = "github"
client_id = "{{ client_id }}"
client_secret = "{{ client_secret }}"

## Cookie Settings
cookie_name = "authproxy_internal"
cookie_domains = ".tinynet.chrisx.xyz"
cookie_secret = "{{ cookie_secret_1.stdout }}"
cookie_expire = "1h"
cookie_samesite = "strict"
cookie_secure = true
cookie_httponly = true
