# Installed by Ansible

PIHOLE_DNS_1={{ cx_pihole_dns_1 }}
PIHOLE_DNS_2={{ cx_pihole_dns_2 }}
QUERY_LOGGING={{ cx_pihole_enable_query_logging }}

{% if cx_pihole_rdns_local_cidr and cx_pihole_rdns_server %}
REV_SERVER=true
REV_SERVER_CIDR={{ cx_pihole_rdns_local_cidr }}
REV_SERVER_DOMAIN={{ cx_pihole_rdns_local_domain }}
REV_SERVER_TARGET={{ cx_pihole_rdns_server }}
{% endif %}

BLOCKING_ENABLED=true
DNS_BOGUS_PRIV=true
DNS_FQDN_REQUIRED=false
WEBTHEME=default-auto

INSTALL_WEB_INTERFACE=true
INSTALL_WEB_SERVER=true
LIGHTTPD_ENABLED=true
