<VirtualHost *:80>
	ServerName tinynet.chrisx.xyz

	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined

	OIDCProviderMetadataURL https://tinynet-iam.chrisx.xyz/auth/realms/tinynet/.well-known/openid-configuration
	OIDCClientID tinynet.chrisx.xyz
	OIDCClientSecret {{ oidc_client_secret }}
	OIDCRemoteUserClaim preferred_username
	OIDCScope "openid groups"
	OIDCRedirectURI https://tinynet.chrisx.xyz/auth/openid-connect
	OIDCCryptoPassphrase {{ oidc_crypto.stdout }}
	OIDCSessionInactivityTimeout 3600
	OIDCStateMaxNumberOfCookies 2 true

	DocumentRoot /var/www/html

	Alias "/firefly-iii" "/var/www/firefly-iii/public"

	<Location "/auth/openid-connect">
		AuthType openid-connect
		Require valid-user
	</Location>

	<LocationMatch "/changedetection">
		Header set Referrer-Policy "no-referrer"
		Header set X-Content-Type-Options "nosniff"
		Header set X-Frame-Options "DENY"
		Header set X-Robots-Tag "none"
		Header set X-XSS-Protection "1; mode=block"

		AuthType openid-connect
		Require claim groups:internal
		ProxyPass http://apps01:55000/
		ProxyPassReverse http://apps01:55000/
		RequestHeader set X-Forwarded-Prefix "/changedetection"
	</LocationMatch>

	<LocationMatch "/changedetection/rss">
		Require all granted
	</LocationMatch>

	<Directory "/var/www/firefly-iii/public">
		Include /var/www/firefly-iii/public/.htaccess
		AuthType openid-connect
		Require valid-user
	</Directory>

	<Directory "/var/www/firefly-iii">
		AllowOverride None
		Require all denied
	</Directory>

	<Directory "/var/www/html">
		Header set Cache-Control "no-cache"
		Header set Content-Security-Policy "base-uri 'none'; object-src 'none'; script-src 'self' 'sha256-O0QnpbtsI2f5yQ3Jc40Z0aWGK+Vlqls3azmCWvA+rRs=';"
		Header set Referrer-Policy "no-referrer"
		Header set X-Content-Type-Options "nosniff"
		Header set X-Frame-Options "DENY"
		Header set X-Robots-Tag "none"
		Header set X-XSS-Protection "1; mode=block"
		AuthType openid-connect
		Require valid-user
	</Directory>

	<Directory "/var/www/html/assets/manifest.json">
		Require all granted
	</Directory>

	<Directory "/var/www/html/assets/admin*">
		AuthType openid-connect
		Require claim groups:admin
	</Directory>

	<Directory "/var/www/html/assets/internal*">
		AuthType openid-connect
		Require claim groups:internal
	</Directory>
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
