<VirtualHost *:80>
    ServerName vaultwarden.chrisx.xyz

	OIDCProviderMetadataURL https://tinynet-iam.chrisx.xyz/auth/realms/tinynet/.well-known/openid-configuration
	OIDCClientID webapps-apache
	OIDCClientSecret {{ oidc_client_secret }}
	OIDCRemoteUserClaim preferred_username
	OIDCScope "openid groups"
	OIDCRedirectURI https://vaultwarden.chrisx.xyz/admin/auth/openid-connect
	OIDCCryptoPassphrase {{ oidc_crypto.stdout }}
	OIDCStateMaxNumberOfCookies 5 true

	ProxyPreserveHost On
    ProxyPass / http://containers:8288/
    ProxyPassReverse / http://containers:8288/

	<Location "/admin/auth/openid-connect">
		AuthType openid-connect
		Require valid-user
	</Location>

	<Location "/admin">
		AuthType openid-connect
		Require claim groups:admin
	</Location>	
</VirtualHost>
