#!/bin/bash
set -e

RID="$(uuidgen)"

curl -fsS -m 3 "{{ cx_postgresql_cron_ping_url }}/start?rid=$RID"
echo "[Healthchecks start]"

echo "Backing up Postgres databases..."
pg_dumpall -c -f /tmp/pg_dumpall.sql
gzip -f /tmp/pg_dumpall.sql

curl -fsS -m 3 "{{ cx_postgresql_cron_ping_url }}?rid=$RID"
echo "[Healthchecks done]"
