hr {
  margin-top: 0.75rem;
}
.fa-md.fa-fw {
  padding-right: 4px;
}
.tile.is-child {
  margin-bottom: 10px !important;
}
/* workaround for wrong focus color in bulma-prefers-dark */
@media (prefers-color-scheme: dark) {
  .navbar-item:focus {
    background-color: #121212 !important;
    color: #5ea3e4 !important;
  }
  .navbar-item:focus-within {
    background-color: #121212 !important;
    color: #5ea3e4 !important;
  }
}

.center {
  text-align: center;
}
.tile-flex {
  align-items: center;
  display: flex;
}
.tile-icon {
  flex: none;
  margin: 0 0.6rem 0 -0.4rem ;
}
.tile-link {
  color: #4c4c4c;
  text-decoration: none !important;
}
.tile-title {
  font-size: 1.1rem;
  font-weight: 600;
  max-width: 90%;
  flex: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (prefers-color-scheme: dark) {
  .tile-link {
    color: #ababab;
  }
}
