ServerName {{ inventory_hostname }}

ServerSignature Off
ServerTokens Prod
TraceEnable Off

AllowEncodedSlashes NoDecode
DocumentRoot /var/www/html

KeepAlive On
KeepAliveTimeout 5

SSLProtocol all -SSLv3 -TLSv1 -TLSv1.1 -TLSv1.2
SSLHonorCipherOrder Off
SSLSessionTickets Off
SSLUseStapling On
SSLStaplingCache "shmcb:logs/ssl_stapling(32768)"

<Directory "/var/www/html">
    AllowOverride None
    Options None
</Directory>

<VirtualHost *:80>
    RedirectMatch 404 ^/
</VirtualHost>

<VirtualHost *:443>
    SSLEngine On
    SSLCertificateFile /etc/pki/tls/certs/localhost.crt
    SSLCertificateKeyFile /etc/pki/tls/private/localhost.key
    SSLUseStapling Off

    RedirectMatch 404 ^/
</VirtualHost>
