<VirtualHost *:443>
    ServerName {{ _apache_gitea.server_name }}

    SSLEngine on
    SSLCertificateFile /etc/certbot/live/{{ _apache_gitea.cert_name }}/fullchain.pem
    SSLCertificateKeyFile /etc/certbot/live/{{ _apache_gitea.cert_name }}/privkey.pem

    Header always set Referrer-Policy "no-referrer"
    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    Header always set X-Content-Type-Options "nosniff"

    ProxyPass /robots.txt !
    ProxyPass / http://gitea:3000/ nocanon
    ProxyPassReverse / http://gitea:3000/ nocanon
    ProxyPreserveHost On
    ProxyRequests off
    RequestHeader set X-Forwarded-Proto expr=%{REQUEST_SCHEME}

    ErrorLog /var/log/httpd/gitea_error.log
    CustomLog /var/log/httpd/gitea_access.log combined
</VirtualHost>

<VirtualHost *:80>
    ServerName {{ _apache_gitea.server_name }}

    RewriteEngine On
    RewriteRule ^(.*)$ https://{{ _apache_gitea.server_name }}$1 [R=301,L]

    ErrorLog /var/log/httpd/gitea_error.log
    CustomLog /var/log/httpd/gitea_access.log combined
</VirtualHost>
