GITEA__database__DB_TYPE=postgres
GITEA__database__HOST=db-postgres.arb.chrisx.xyz:5432
GITEA__database__SSL_MODE=verify-full
GITEA__database__NAME=gitea
GITEA__database__USER=gitea
GITEA__database__PASSWD={{ hostvars['db-postgres']['postgres_gitea_password'] }}
