KC_DB=postgres
KC_DB_URL=jdbc:postgresql://postgres/keycloak
KC_DB_USERNAME=keycloak
KC_DB_PASSWORD={{ postgres_keycloak_password.stdout }}
KC_HOSTNAME=sso.chrisx.xyz
KC_PROXY=edge
KC_FEATURES_ADMIN2=enabled
KC_FEATURES_CIBA=disabled
KC_FEATURES_IMPERSONATION=disabled
KC_FEATURES_OPENSHIFT_INTEGRATION=disabled

KEYCLOAK_ADMIN=init
KEYCLOAK_ADMIN_PASSWORD=keycloak
