KC_DB=postgres
# TODO: missing CA in container
KC_DB_URL=jdbc:postgresql://postgresql.arb.chrisx.xyz:5432/keycloak?ssl=true&sslmode=require
KC_DB_USERNAME=keycloak
KC_DB_PASSWORD={{ hostvars['postgresql']['postgres_keycloak_password'] }}
KC_FEATURES_DISABLED=impersonation,client-policies,ciba
KC_HOSTNAME=sso.chrisx.xyz
KC_PROXY=edge

KEYCLOAK_ADMIN=init
KEYCLOAK_ADMIN_PASSWORD=keycloak
