BASE_URL=https://tinynet.chrisx.xyz/miniflux

DATABASE_URL=postgres://miniflux:{{ postgres_miniflux_password.stdout }}@postgres/miniflux?sslmode=disable
CLEANUP_REMOVE_SESSIONS_DAYS=1
POLLING_FREQUENCY=10
RUN_MIGRATIONS=1

OAUTH2_PROVIDER=oidc
OAUTH2_OIDC_DISCOVERY_ENDPOINT=https://tinynet-iam.chrisx.xyz/auth/realms/tinynet
OAUTH2_REDIRECT_URL=https://tinynet.chrisx.xyz/miniflux/oauth2/oidc/callback
OAUTH2_USER_CREATION=1
OAUTH2_CLIENT_ID=miniflux
OAUTH2_CLIENT_SECRET={{ miniflux_client_secret }}
