DATABASE_URL=postgres://vaultwarden:{{ hostvars['db-postgres']['postgres_vaultwarden_password'] }}@db-postgres.arb.chrisx.xyz/vaultwarden?sslmode=verify-full&sslrootcert=/etc/ssl/certs/ca-certificates.crt
ROCKET_PORT=8288
WEBSOCKET_ENABLED=true

IP_HEADER=X-Forwarded-For
SIGNUPS_ALLOWED=false
SIGNUPS_VERIFY=true
SIGNUPS_VERIFY_RESEND_LIMIT=2
