# TODO: missing CA in container
DATABASE_URL=postgres://vaultwarden:{{ hostvars['postgresql']['postgres_vaultwarden_password'] }}@postgresql.arb.chrisx.xyz/vaultwarden?sslmode=require
ROCKET_PORT=8288
WEBSOCKET_ENABLED=true
