---
- name: Remove unneeded packages
  ansible.builtin.dnf:
    name:
      - cloud-init
      - command-not-found
      - firewalld
      - NetworkManager-team
      - open-vm-tools
      - plymouth
      - postfix
      - telnet
    state: absent

- name: Install epel-release
  when: ansible_facts.distribution != 'Fedora'
  ansible.builtin.dnf:
    name: epel-release
    state: present

- name: Install standard packages
  ansible.builtin.dnf:
    name:
      - bind-utils
      - cronie
      - curl
      - htop
      - pciutils
      - psmisc
      - rsync
      - tar
      - vim
      - unzip
      - usbutils
    state: present

- name: Set hostname
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"
    use: systemd

- name: Set timezone
  community.general.timezone:
    name: "{{ cx_base_el_timezone }}"
    hwclock: UTC

- name: Set up passwordless sudo for {{ ansible_user }}
  ansible.builtin.blockinfile:
    block: "{{ ansible_user }} ALL=(ALL) NOPASSWD:ALL"
    create: true
    mode: "0600"
    path: /etc/sudoers.d/01-ansible
    state: present

- name: Configure systemd (EL 10)
  when: ansible_facts.distribution_major_version == '10'
  block:
    - name: Place systemd-coredump config
      ansible.builtin.copy:
        content: |
          [Coredump]
          Storage=none
        dest: /etc/systemd/coredump.conf
        mode: "0644"
    - name: Place systemd-journald config
      ansible.builtin.copy:
        content: |
          [Journal]
          SystemMaxUse=100M
        dest: /etc/systemd/journald.conf
        mode: "0644"

- name: Configure systemd (EL 9)
  when: ansible_facts.distribution_major_version == '9'
  block:
    - name: Disable systemd-coredump storage
      ansible.builtin.blockinfile:
        block: Storage=none
        path: /etc/systemd/coredump.conf
        state: present
    - name: Set systemd-journald storage limit
      ansible.builtin.blockinfile:
        block: SystemMaxUse=100M
        path: /etc/systemd/journald.conf
        state: present

- name: Set default text editor
  ansible.builtin.blockinfile:
    block: EDITOR=vim
    path: /etc/environment
    state: present

- name: Set sysctl configs
  ansible.posix.sysctl:
    name: "{{ item.key }}"
    value: "{{ item.value }}"
    state: present
    sysctl_set: true
    reload: true
  with_dict:
    kernel.dmesg_restrict: 1
    kernel.sysrq: 0

- name: Set SELinux Enforcing
  ansible.posix.selinux:
    policy: targeted
    state: enforcing

- name: Enable periodic filesystem trim
  ansible.builtin.systemd:
    name: fstrim.timer
    enabled: true
    state: started
