<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page_title }}</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
  <link rel="apple-touch-icon" type="image/png" href="/assets/img/apple-touch-icon.png">
  <link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="#323232">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma/css/bulma.min.css" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma-prefers-dark/css/bulma-prefers-dark.min.css" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/@fortawesome/fontawesome-free/css/all.min.css" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/assets/css/dashboard.css" crossorigin="anonymous">
</head>
<body>
<section class="section">
<div class="container">
  <nav class="navbar" role="navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href=""><h1 class="title is-1">{{ page_title }}</h1></a>
    </div>
    {% if header_links is defined -%}
    <div class="navbar-end">
      {% for item in header_links -%}
      <a class="navbar-item" href="{{ item.url }}"{% if item.newtab is defined and item.newtab %} rel="noopener noreferrer" target="_blank"{% endif %}>
        <i class="fa-md fa-fw {{ item.icon }}"></i> {{ item.name }}
      </a>
      {%- endfor +%}
    </div>
    {%- endif +%}
  </nav>
  <hr>

  {%+ if message is defined -%}
  <article class="message {{ message.style }}">
    <div class="message-header">
      <p><i class="fa-md fa-fw {{ message.icon }}"></i> {{ message.title }}</p>
    </div>
    <div class="message-body">
      {{ message.content }}
    </div>
  </article>
  {%- endif +%}

  {%+ for category in services -%}
  {%+ if loop.index0 % 3 == 0 -%}
  <div class="columns">
  {%- endif +%}
    <div class="column is-4">
      <h2 class="title is-4"><i class="fa-fw {{ category.icon }}"></i> {{ category.name }}</h2>
      {%- for app in category.apps +%}
      <a class="tile-link" href="{{ app.url }}" {% if app.newtab is defined and app.newtab %}rel="noopener noreferrer" target="_blank"{% endif %}>
      <article class="tile is-child notification">
      <div class="tile-flex">
        <div class="tile-icon"><i class="fa-lg fa-fw {{ app.icon }}"></i></div>
        <p class="tile-title">{{ app.name }}</p>
      </div>
      </article>
      </a>
      {%- endfor +%}
    </div>
  {%- if loop.index0 % 3 == 2 or loop.last +%}
  </div>
  {% endif +%}
  {%- endfor +%}
  <hr>

  {%+ if footer_link is defined -%}
  <p class="center"><a class="button" href="{{ footer_link.url }}">
    <i class="fa-md fa-fw {{ footer_link.icon }}"></i> {{ footer_link.name }}
  </a></p>
  {%- endif +%}
</div>
</section>
</body>
</html>
