<VirtualHost *:443>
	ServerName webapps.chrisx.xyz
	SSLEngine on
	SSLCertificateFile /etc/ssl/private/fullchain.pem
	SSLCertificateKeyFile /etc/ssl/private/privkey.pem
	Protocols h2 http/1.1

	Header always set Permissions-Policy "interest-cohort=()"
	Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined

	OIDCProviderMetadataURL https://sso.chrisx.xyz/realms/chrisx/.well-known/openid-configuration
	OIDCClientID webapps.chrisx.xyz
	OIDCClientSecret {{ webapps_client_secret }}
	OIDCRemoteUserClaim sub
	OIDCScope openid
	OIDCRedirectURI https://webapps.chrisx.xyz/auth/openid-connect
	OIDCCryptoPassphrase {{ oidc_crypto.stdout }}
	OIDCSessionInactivityTimeout 3600
	OIDCStateMaxNumberOfCookies 2 true

	DocumentRoot /var/www/html

	Alias "/firefly-iii" "/var/www/firefly-iii/public"

	<Location "/auth/openid-connect">
		AuthType openid-connect
		Require valid-user
	</Location>

	<Directory "/var/www/firefly-iii/public">
		Include /var/www/firefly-iii/public/.htaccess
		AuthType openid-connect
		Require claim roles:firefly-iii
	</Directory>

	<Directory "/var/www/firefly-iii">
		AllowOverride None
		Require all denied
	</Directory>

	<Directory "/var/www/html">
		Header set Cache-Control "no-cache"
		Header set Content-Security-Policy "base-uri 'none'; object-src 'none'; script-src 'none';"
		Header set Referrer-Policy "no-referrer"
		Header set X-Content-Type-Options "nosniff"
		Header set X-Frame-Options "DENY"
		Header set X-Robots-Tag "none"
		Header set X-XSS-Protection "1; mode=block"
		AuthType openid-connect
		Require claim roles:access
	</Directory>

	<Directory "/var/www/html/admin">
		AuthType openid-connect
		Require claim roles:admin-center
	</Directory>

	<Directory "/var/www/html/internal">
		AuthType openid-connect
		Require claim roles:internal
	</Directory>
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
