hr {
  margin-top: 0.75rem;
}
.fa-md.fa-fw {
  margin-right: 4px;
}
.fa-lg.fa-fw {
  margin-right: 10px;
}
.tile.is-child {
  margin-bottom: 10px !important;
}

.center {
  text-align: center;
}
.tile-flex {
  display: flex;
}
.tile-icon {
  flex: none;
  width: 20%;
}
.tile-link {
  color: #4c4c4c;
  text-decoration: none !important;
}
.tile-text {
  flex: none;
}
@media (prefers-color-scheme: dark) {
  .tile-link {
    color: #ababab;
  }
}
