hr {
  margin-top: 0.75rem;
}
.fa-md.fa-fw {
  padding-right: 4px;
}
.fa-lg.fa-fw {
  padding-right: 10px;
}
.tile.is-child {
  margin-bottom: 10px !important;
}
.title.is-5 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.center {
  text-align: center;
}
.mono {
  font-family: monospace;
}
.tile-flex {
  align-items: center;
  display: flex;
}
.tile-icon {
  flex: none;
  width: 50px;
}
.tile-link {
  color: #4c4c4c;
  text-decoration: none !important;
}
.tile-text {
  flex: none;
  width: 80%;
  width: -webkit-calc(100% - 50px);
  width: -moz-calc(100% - 50px);
  width: calc(100% - 50px);
}
@media (prefers-color-scheme: dark) {
  .tile-link {
    color: #ababab;
  }
}
