<VirtualHost *:443>
	ServerName home-assistant.chrisx.xyz
	SSLEngine On
	SSLCertificateFile /etc/ssl/private/fullchain.pem
	SSLCertificateKeyFile /etc/ssl/private/privkey.pem
	Protocols h2 http/1.1

	Header always set Permissions-Policy "interest-cohort=()"
	Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

	OIDCProviderMetadataURL https://sso.chrisx.xyz/realms/chrisx/.well-known/openid-configuration
	OIDCClientID home-assistant.chrisx.xyz
	OIDCClientSecret {{ ha_client_secret }}
	OIDCScope openid
	OIDCRedirectURI https://home-assistant.chrisx.xyz/auth/openid-connect
	OIDCCryptoPassphrase {{ oidc_crypto }}
	OIDCSessionInactivityTimeout 3600
	OIDCStateMaxNumberOfCookies 2 true

	SSLProxyEngine On
	ProxyRequests Off
	ProxyPass /api/websocket wss://homeassistant.arb.chrisx.xyz:8123/api/websocket
	ProxyPassReverse /api/websocket wss://homeassistant.arb.chrisx.xyz:8123/api/websocket
	ProxyPass / https://homeassistant.arb.chrisx.xyz:8123/
	ProxyPassReverse / https://homeassistant.arb.chrisx.xyz:8123/

	RewriteEngine On
	RewriteCond %{HTTP:Upgrade} =websocket [NC]
	RewriteRule /(.*)  wss://homeassistant.arb.chrisx.xyz:8123/$1 [P,L]
	RewriteCond %{HTTP:Upgrade} !=websocket [NC]
	RewriteRule /(.*)  https://homeassistant.arb.chrisx.xyz:8123/$1 [P,L]

	<Location "/auth/openid-connect">
		AuthType openid-connect
		Require valid-user
	</Location>

	<Location "/auth/authorize">
		AuthType openid-connect
		Require claim roles:user
	</Location>

	<Location "/auth/login_flow">
		AuthType openid-connect
		Require claim roles:user
	</Location>
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
