<?php
define('DB_RUN_MIGRATIONS', true);
define('DB_DRIVER', 'postgres');
define('DB_HOSTNAME', 'db-postgres.arb.chrisx.xyz');
define('DB_PORT', 5432);
define('DB_NAME', 'kanboard');
define('DB_USERNAME', 'kanboard');
define('DB_PASSWORD', '{{ hostvars["db-postgres"]["postgres_kanboard_password"] }}');
define('DB_SSL_CA', '/etc/ssl/certs/ca-certificates.crt');
define('DB_VERIFY_SERVER_CERT', true);

define('MAIL_TRANSPORT', 'mail');
define('MAIL_FROM', 'kanboard@noreply.chrisx.xyz');

define('ENABLE_URL_REWRITE', true);
define('PLUGIN_INSTALLER', false);

define('ENABLE_HSTS', false);
define('ENABLE_XFRAME', true);
define('MARKDOWN_ESCAPE_HTML', true);

define('REMEMBER_ME_AUTH', false);
define('HIDE_LOGIN_FORM', true);
define('DISABLE_LOGOUT', false);

define('BRUTEFORCE_CAPTCHA', 3);
define('BRUTEFORCE_LOCKDOWN', 6);
define('BRUTEFORCE_LOCKDOWN_DURATION', 60);
