<VirtualHost *:443>
	ServerName pages.chrisx.xyz

	SSLEngine on
	SSLCertificateFile /etc/apache2/ssl/chrisx.xyz/fullchain.pem
	SSLCertificateKeyFile /etc/apache2/ssl/chrisx.xyz/privkey.pem

	Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
	Header set Referrer-Policy "no-referrer"
	Header set X-Content-Type-Options "nosniff"
	Header set X-Frame-Options "DENY"
	Header set X-Robots-Tag "none"
	Header set X-XSS-Protection "1; mode=block"

	OIDCClientID {{ pages_oidc.client_id }}
	OIDCClientSecret {{ pages_oidc.client_secret }}
	OIDCPassClaimsAs none
	OIDCProviderMetadataURL https://sso.chrisx.xyz/realms/chrisx/.well-known/openid-configuration
	OIDCRedirectURI https://pages.chrisx.xyz/openid-connect
	OIDCScope openid
	OIDCSessionInactivityTimeout 3600
	OIDCStateMaxNumberOfCookies 2 true
	OIDCCryptoPassphrase {{ oidc_crypto }}

	DocumentRoot /var/www/pages
	Alias /robots.txt /var/www/html/robots.txt

	ErrorLog /var/log/apache2/pages_error.log
	CustomLog /var/log/apache2/pages_access.log combined

	<Location "/openid-connect">
		AuthType openid-connect
		Require valid-user
	</Location>

	<Directory "/var/www/pages/launcher">
		Header set Cache-Control "no-cache"
		Header set Content-Security-Policy "base-uri 'none'; object-src 'none'; script-src 'none';"
		AuthType openid-connect
		Require claim roles:access
	</Directory>

	<Directory "/var/www/pages/launcher/admin">
		AuthType openid-connect
		Require claim roles:admin
	</Directory>

	<Directory "/var/www/pages/launcher/img">
		Require all granted
	</Directory>

	<FilesMatch "\.(jpe?g|png|gif|svg|webp|js|css)$">
		Header unset Cache-Control
	</FilesMatch>
</VirtualHost>
