<VirtualHost *:443>
	ServerName storage.arb.chrisx.xyz

	SSLEngine on
	SSLCertificateFile /etc/apache2/ssl/arb.chrisx.xyz/fullchain.pem
	SSLCertificateKeyFile /etc/apache2/ssl/arb.chrisx.xyz/privkey.pem

	Header set Referrer-Policy "no-referrer"
	Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
	Header set X-Content-Type-Options "nosniff"
	Header set X-Frame-Options "DENY"
	Header set X-Robots-Tag "none"

	RequestHeader set X-Forwarded-Proto "https"
	RequestHeader set X-Forwarded-Port "443"

	ProxyPreserveHost On
	ProxyPass "/" "http://filebrowser:80/"
	ProxyPassReverse "/" "http://filebrowser:80/"

	ErrorLog /var/log/apache2/filebrowser_error.log
	CustomLog /var/log/apache2/filebrowser_access.log combined

	OIDCClientID {{ storage_oidc.client_id }}
	OIDCClientSecret {{ storage_oidc.client_secret }}
	OIDCPassClaimsAs headers
	OIDCProviderMetadataURL https://sso.chrisx.xyz/realms/chrisx/.well-known/openid-configuration
	OIDCRedirectURI https://storage.arb.chrisx.xyz/openid-connect
	OIDCScope "openid profile"
	OIDCSessionInactivityTimeout 3600
	OIDCStateMaxNumberOfCookies 2 true
	OIDCCryptoPassphrase {{ oidc_crypto }}

	<Location "/openid-connect">
		AuthType openid-connect
		Require valid-user
	</Location>

	<Location "/">
		AuthType openid-connect
		Require claim roles:filebrowser
	</Location>
	<Location "/api/public/">
		Require all granted
	</Location>
	<LocationMatch "^/(share|static)/">
		Require all granted
	</LocationMatch>
</VirtualHost>
