---
- name: Verify requirements
  ansible.builtin.assert:
    that:
      - ansible_facts.distribution_major_version|int >= 8
      - ansible_facts.os_family == 'RedHat'
      - cx_k3s_node_k3s_channel is regex('^v1\.\d+$')
      - cx_k3s_node_role in ('agent', 'server')

- name: Remove firewalld
  ansible.builtin.dnf:
    name: firewalld
    state: absent

- name: Install iptables + storage utils
  ansible.builtin.dnf:
    name:
      - iptables-nft
      - iscsi-initiator-utils
      - lsscsi
      - nfs-utils
      - sg3_utils
    state: present

- name: Enable and start iSCSI units
  loop:
    - iscsid.socket
    - iscsi.service
  ansible.builtin.systemd:
    name: "{{ item }}"
    enabled: true
    state: started

- name: Download k3s install script
  ansible.builtin.get_url:
    url: https://get.k3s.io
    dest: /tmp/get_k3s.sh
    mode: "0700"

- name: Install k3s
  ansible.builtin.include_tasks: k3s_{{ cx_k3s_node_role }}.yml

- name: Delete k3s install script
  ansible.builtin.file:
    path: /tmp/get_k3s.sh
    state: absent
