[Unit]
Description=Tailscale read-only web server
After=tailscaled.service

[Service]
Type=exec
ExecStart=/usr/bin/tailscale web --readonly --listen 0.0.0.0:8088

[Install]
WantedBy=multi-user.target
