[Unit]
Description=Configure UDP GRO on default interface
Before=tailscaled.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'exec /usr/sbin/ethtool -K $(ip -o route get 1.1.1.1 | cut -f 5 -d " ") rx-udp-gro-forwarding on rx-gro-list off'

[Install]
WantedBy=multi-user.target
