[Unit]
Description=Tailscale read-only web server
After=tailscaled.service

[Service]
Type=exec
ExecStart=/usr/bin/bash -c 'exec tailscale web --readonly --listen "$(ip route get 1.1.1.1 | awk \'{print $7; exit}\'):8088"'

[Install]
WantedBy=multi-user.target
