[Unit]
After=syslog.target network-online.target
ConditionFileIsExecutable=/opt/AdGuardHome/AdGuardHome
Description=AdGuard Home

[Service]
ExecStartPre=/bin/mkdir -p /var/log/
ExecStart=/opt/AdGuardHome/AdGuardHome "-s" "run"
Restart=always
RestartSec=10
StandardOutput=file:/var/log/AdGuardHome.out
StandardError=file:/var/log/AdGuardHome.err
StartLimitInterval=5
StartLimitBurst=10
User=nobody
WorkingDirectory=/opt

[Install]
WantedBy=multi-user.target
