# BookStack configuration
# https://github.com/BookStackApp/BookStack/blob/master/.env.example
# https://github.com/BookStackApp/BookStack/blob/master/.env.example.complete

# Application key
# Run `php artisan key:generate` to generate a valid key.
APP_KEY=ReplaceMe

# Application URL
# This must be the root URL that you want to host BookStack on.
APP_URL=https://tinynet.chrisx.xyz/wiki

# Application timezone
# Used where dates are displayed such as on exported content.
# Valid timezone values can be found here: https://www.php.net/manual/en/timezones.php
APP_TIMEZONE=UTC

# Database details
# Host can contain a port (localhost:3306) or a separate DB_PORT option can be used.
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=bookstack
DB_USERNAME=bookstack
DB_PASSWORD={{ mysql_bookstack_password.stdout }}

# Mail system to use
# Can be 'smtp' or 'sendmail'
MAIL_DRIVER=smtp

# Mail sending options
MAIL_FROM=tinynet.wiki@chrisx.xyz
MAIL_FROM_NAME="TinyNET Wiki"

# SMTP mail options
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

# Session configuration
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=true

# Authentication method to use
# Can be 'standard', 'ldap' or 'saml2'
AUTH_METHOD=standard

# Social authentication configuration
# Refer to https://www.bookstackapp.com/docs/admin/third-party-auth/
GITHUB_APP_ID={{ client_id }}
GITHUB_APP_SECRET={{ client_secret }}
GITHUB_AUTO_REGISTER=true
GITHUB_AUTO_CONFIRM_EMAIL=true

# Disable default third-party services such as Gravatar and Draw.IO
DISABLE_EXTERNAL_SERVICES=true
