<VirtualHost *:443>
	ServerName webapps.chrisx.xyz
	SSLEngine on
	SSLCertificateFile /etc/ssl/chrisx.xyz/fullchain.pem
	SSLCertificateKeyFile /etc/ssl/chrisx.xyz/privkey.pem
	Protocols h2 http/1.1

	Header always set Permissions-Policy "interest-cohort=()"
	Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

	OIDCProviderMetadataURL https://sso.chrisx.xyz/realms/chrisx/.well-known/openid-configuration
	OIDCClientID webapps.chrisx.xyz
	OIDCClientSecret {{ webapps_client_secret }}
	OIDCRemoteUserClaim sub
	OIDCScope openid
	OIDCRedirectURI https://webapps.chrisx.xyz/auth/openid-connect
	OIDCCryptoPassphrase {{ oidc_crypto }}
	OIDCSessionInactivityTimeout 3600
	OIDCStateMaxNumberOfCookies 2 true

	DocumentRoot /var/www/html

	Alias "/docs" "/var/www/docs"
	Alias "/launcher" "/var/www/launcher"

	RedirectMatch "/docs/.*/_admin/" "/docs/_admin/"
	RedirectMatch "/docs/.*/_internal/" "/docs/_internal/"
	RedirectMatch "/docs/.*/_public/" "/docs/"

	<Location "/auth/openid-connect">
		AuthType openid-connect
		Require valid-user
	</Location>

	<Directory "/var/www/docs">
		Header set Cache-Control "no-cache"
		Header set Referrer-Policy "no-referrer"
		Header set X-Content-Type-Options "nosniff"
		Header set X-Frame-Options "DENY"
		Header set X-Robots-Tag "none"
		Header set X-XSS-Protection "1; mode=block"
		AuthType openid-connect
		Require claim roles:access
	</Directory>

	<Directory "/var/www/docs/_admin">
		AuthType openid-connect
		Require claim roles:admin
	</Directory>

	<Directory "/var/www/docs/_internal">
		AuthType openid-connect
		Require claim roles:internal
	</Directory>

	<Directory "/var/www/launcher">
		Header set Cache-Control "no-cache"
		Header set Content-Security-Policy "base-uri 'none'; object-src 'none'; script-src 'none';"
		Header set Referrer-Policy "no-referrer"
		Header set X-Content-Type-Options "nosniff"
		Header set X-Frame-Options "DENY"
		Header set X-Robots-Tag "none"
		Header set X-XSS-Protection "1; mode=block"
		AuthType openid-connect
		Require claim roles:access
	</Directory>

	<Directory "/var/www/launcher/admin.html">
		AuthType openid-connect
		Require claim roles:admin
	</Directory>

	<Directory "/var/www/launcher/launch.html">
		Require all granted
	</Directory>

	<Directory "/var/www/launcher/assets/img">
		Require all granted
	</Directory>

	<FilesMatch "\.(jpe?g|png|gif|svg|webp|js|css)$">
		Header unset Cache-Control
	</FilesMatch>
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
