<VirtualHost *:443>
    ServerName {{ _apache_jellyfin.server_name }}

    SSLEngine on
    SSLCertificateFile /etc/certbot/live/{{ _apache_jellyfin.cert_name }}/fullchain.pem
    SSLCertificateKeyFile /etc/certbot/live/{{ _apache_jellyfin.cert_name }}/privkey.pem

    Header set Referrer-Policy "no-referrer"
    Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "DENY"
    Header set X-Robots-Tag "none"

    ProxyPass "/socket" "ws://jellyfin:8096/socket"
    ProxyPassReverse "/socket" "ws://jellyfin:8096/socket"
    ProxyPass "/" "http://jellyfin:8096/"
    ProxyPassReverse "/" "http://jellyfin:8096/"
    ProxyPreserveHost On
    RequestHeader set X-Forwarded-Port 443
    RequestHeader set X-Forwarded-Proto expr=%{REQUEST_SCHEME}

    ErrorLog /var/log/httpd/jellyfin_error.log
    CustomLog /var/log/httpd/jellyfin_access.log combined
</VirtualHost>

<VirtualHost *:80>
    ServerName {{ _apache_jellyfin.server_name }}

    RewriteEngine On
    RewriteRule ^(.*)$ https://{{ _apache_jellyfin.server_name }}$1 [R=301,L]

    ErrorLog /var/log/httpd/jellyfin_error.log
    CustomLog /var/log/httpd/jellyfin_access.log combined
</VirtualHost>
