<VirtualHost *:443>
    ServerName {{ _apache_miniflux.server_name }}

    SSLEngine on
    SSLCertificateFile /etc/certbot/live/{{ _apache_miniflux.cert_name }}/fullchain.pem
    SSLCertificateKeyFile /etc/certbot/live/{{ _apache_miniflux.cert_name }}/privkey.pem

    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

    ProxyPass / http://miniflux:8080/ nocanon
    ProxyPassReverse / http://miniflux:8080/ nocanon
    ProxyPreserveHost On
    RequestHeader set X-Forwarded-Proto expr=%{REQUEST_SCHEME}

    ErrorLog /var/log/httpd/miniflux_error.log
    CustomLog /var/log/httpd/miniflux_access.log combined
</VirtualHost>

<VirtualHost *:80>
    ServerName {{ _apache_miniflux.server_name }}

    RewriteEngine On
    RewriteRule ^(.*)$ https://{{ _apache_miniflux.server_name }}$1 [R=301,L]

    ErrorLog /var/log/httpd/miniflux_error.log
    CustomLog /var/log/httpd/miniflux_access.log combined
</VirtualHost>
