GITEA__database__DB_TYPE=postgres
GITEA__database__HOST=c-lapp.arb.chrisx.xyz:5432
GITEA__database__SSL_MODE=verify-full
GITEA__database__NAME=gitea
GITEA__database__USER=gitea
GITEA__database__PASSWD={{ postgres_gitea_password }}

GITEA__server__DOMAIN=gitea.chrisx.xyz
GITEA__server__SSH_DOMAIN=gitea.chrisx.xyz
GITEA__server__SSH_PORT=2022
GITEA__server__ROOT_URL=https://gitea.chrisx.xyz/
GITEA__server__OFFLINE_MODE=true

GITEA__security__INSTALL_LOCK=true
GITEA__security__REVERSE_PROXY_TRUSTED_PROXIES=10.89.0.0/24
GITEA__session__COOKIE_SECURE=true
GITEA__session__SAME_SITE=lax

GITEA__service__REQUIRE_SIGNIN_VIEW=true
GITEA__service__ENABLE_BASIC_AUTHENTICATION=false
GITEA__service__DISABLE_REGISTRATION=false
GITEA__service__ALLOW_ONLY_EXTERNAL_REGISTRATION=true
GITEA__service__REGISTER_MANUAL_CONFIRM=true
GITEA__service__ENABLE_CAPTCHA=true
GITEA__service__CAPTCHA_TYPE=image
GITEA__service__REQUIRE_EXTERNAL_REGISTRATION_CAPTCHA=true
GITEA__service__MINIMUM_KEY_SIZE_CHECK=true
GITEA__service__DEFAULT_KEEP_EMAIL_PRIVATE=true
GITEA__service__DEFAULT_USER_IS_RESTRICTED=true

GITEA__oauth2_client__ENABLE_AUTO_REGISTRATION=true
GITEA__oauth2_client__ACCOUNT_LINKING=login

GITEA__ssh_0X2E_minimum_key_sizes__DSA=-1
GITEA__ssh_0X2E_minimum_key_sizes__ECDSA=-1

GITEA__federation__ENABLED=false
GITEA__federation__SHARE_USER_STATISTICS=false
GITEA__picture__DISABLE_GRAVATAR=true
GITEA__picture__ENABLE_FEDERATED_AVATAR=false

GITEA__other__SHOW_FOOTER_BRANDING=true
GITEA__other__SHOW_FOOTER_TEMPLATE_LOAD_TIME=false
