LLDAP_JWT_SECRET="{{ lookup('password', '/dev/null chars=ascii_letters,digits length=64') }}"

LLDAP_HTTP_URL=https://lldap.arb.chrisx.xyz

LLDAP_LDAP_USER_DN="{{ lldap_admin_username }}"
LLDAP_LDAP_USER_PASS="{{ lldap_admin_password }}"
LLDAP_LDAP_BASE_DN="dc=arb,dc=chrisx,dc=xyz"

LLDAP_SMTP_OPTIONS__ENABLE_PASSWORD_RESET=false

LLDAP_LDAPS_OPTIONS__ENABLED=true
LLDAP_LDAPS_OPTIONS__PORT=6360
LLDAP_LDAPS_OPTIONS__CERT_FILE=/etc/ssl/arb.chrisx.xyz/fullchain.pem
LLDAP_LDAPS_OPTIONS__KEY_FILE=/etc/ssl/arb.chrisx.xyz/privkey.pem
