DATABASE_URL=postgres://vaultwarden:{{ hostvars['db-postgres']['postgres_vaultwarden_password'] }}@db-postgres.arb.chrisx.xyz/vaultwarden?sslmode=verify-full&sslrootcert=/etc/ssl/certs/ca-certificates.crt

DOMAIN=https://vaultwarden.chrisx.xyz
ROCKET_PORT=8288
WEBSOCKET_ENABLED=true

IP_HEADER=X-Forwarded-For

ICON_BLACKLIST_NON_GLOBAL_IPS=true
EMAIL_ATTEMPTS_LIMIT=3
SIGNUPS_ALLOWED=false
SIGNUPS_VERIFY=true
SIGNUPS_VERIFY_RESEND_LIMIT=3
