<VirtualHost *:443>
    ServerName gitea.arb.chrisx.xyz

    SSLEngine on
    SSLCertificateFile /etc/apache2/ssl/{{ _apache_cert_name }}/fullchain.pem
    SSLCertificateKeyFile /etc/apache2/ssl/{{ _apache_cert_name }}/privkey.pem

    Header always set Referrer-Policy "no-referrer"
    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    Header always set X-Content-Type-Options "nosniff"

    ProxyPass /robots.txt !
    ProxyPass / http://127.0.0.1:3000/ nocanon
    ProxyPassReverse / http://127.0.0.1:3000/ nocanon
    ProxyPreserveHost On
    ProxyRequests off
    RequestHeader set X-Forwarded-Proto expr=%{REQUEST_SCHEME}

    ErrorLog /var/log/apache2/gitea_error.log
    CustomLog /var/log/apache2/gitea_access.log combined
</VirtualHost>

<VirtualHost *:80>
    ServerName gitea

    RewriteEngine On
    RewriteRule ^(.*)$ https://gitea.arb.chrisx.xyz$1 [R=301,L]

    ErrorLog /var/log/apache2/gitea_error.log
    CustomLog /var/log/apache2/gitea_access.log combined
</VirtualHost>
