<VirtualHost *:80>
    ServerName go

{% for itm in _golinks %}
    RedirectMatch 302 ^/{{ itm.src }}/?$ {{ itm.dst }}
{% endfor %}

    ErrorLog /var/log/apache2/go_error.log
    CustomLog /var/log/apache2/go_access.log combined
</VirtualHost>
