<VirtualHost *:443>
    ServerName jellyfin.arb.chrisx.xyz

    SSLEngine on
    SSLCertificateFile /etc/apache2/ssl/{{ _apache_cert_name }}/fullchain.pem
    SSLCertificateKeyFile /etc/apache2/ssl/{{ _apache_cert_name }}/privkey.pem

    Header set Referrer-Policy "no-referrer"
    Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "DENY"
    Header set X-Robots-Tag "none"

    ProxyPass "/socket" "ws://127.0.0.1:8096/socket"
    ProxyPassReverse "/socket" "ws://127.0.0.1:8096/socket"
    ProxyPass "/" "http://127.0.0.1:8096/"
    ProxyPassReverse "/" "http://127.0.0.1:8096/"
    ProxyPreserveHost On
    RequestHeader set X-Forwarded-Port 443
    RequestHeader set X-Forwarded-Proto expr=%{REQUEST_SCHEME}

    ErrorLog /var/log/apache2/jellyfin_error.log
    CustomLog /var/log/apache2/jellyfin_access.log combined
</VirtualHost>

<VirtualHost *:80>
    ServerName jellyfin

    RewriteEngine On
    RewriteRule ^(.*)$ https://jellyfin.arb.chrisx.xyz$1 [R=301,L]

    ErrorLog /var/log/apache2/jellyfin_error.log
    CustomLog /var/log/apache2/jellyfin_access.log combined
</VirtualHost>
