<VirtualHost *:443>
    ServerName vaultwarden.arb.chrisx.xyz

    SSLEngine on
    SSLCertificateFile /etc/apache2/ssl/chrisx.xyz/fullchain.pem
    SSLCertificateKeyFile /etc/apache2/ssl/chrisx.xyz/privkey.pem

    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

    ProxyPass /admin/logout !
    ProxyPass /robots.txt !
    ProxyPass / http://127.0.0.1:8288/ nocanon upgrade=websocket
    ProxyPassReverse / http://127.0.0.1:8288/ nocanon
    ProxyPreserveHost On
    ProxyRequests Off
    RequestHeader set X-Forwarded-Proto expr=%{REQUEST_SCHEME}

    RewriteEngine on
    Redirect 302 /admin/logout /admin/openid-connect?logout=

    OIDCClientID {{ _vaultwarden_oidc_client_id }}
    OIDCClientSecret {{ _vaultwarden_oidc_client_secret }}
    OIDCPassClaimsAs none
    OIDCProviderMetadataURL https://sso.chrisx.xyz/realms/chrisx/.well-known/openid-configuration
    OIDCRedirectURI https://vaultwarden.arb.chrisx.xyz/admin/openid-connect
    OIDCScope openid
    OIDCSessionInactivityTimeout 3600
    OIDCStateMaxNumberOfCookies 2 true
    OIDCCryptoPassphrase {{ lookup('password', '/dev/null length=64') }}

    <Location "/admin/openid-connect">
        AuthType openid-connect
        Require valid-user
    </Location>

    <Location "/admin">
        AuthType openid-connect
        Require claim roles:admin
    </Location>

    ErrorLog /var/log/apache2/vaultwarden_error.log
    CustomLog /var/log/apache2/vaultwarden_access.log combined
</VirtualHost>

<VirtualHost *:80>
    ServerName vaultwarden

    RewriteEngine On
    RewriteRule ^(.*)$ https://vaultwarden.arb.chrisx.xyz$1 [R=301,L]

    ErrorLog /var/log/apache2/vaultwarden_error.log
    CustomLog /var/log/apache2/vaultwarden_access.log combined
</VirtualHost>
