<VirtualHost *:443>
    ServerName {{ _apache_vaultwarden.server_name }}

    SSLEngine on
    SSLCertificateFile /etc/certbot/live/{{ _apache_vaultwarden.cert_name }}/fullchain.pem
    SSLCertificateKeyFile /etc/certbot/live/{{ _apache_vaultwarden.cert_name }}/privkey.pem

    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

    ProxyPass /admin/logout !
    ProxyPass /robots.txt !
    ProxyPass / http://vaultwarden:8288/ nocanon upgrade=websocket
    ProxyPassReverse / http://vaultwarden:8288/ nocanon
    ProxyPreserveHost On
    ProxyRequests Off
    RequestHeader set X-Forwarded-Proto expr=%{REQUEST_SCHEME}

    RewriteEngine on
    Redirect 302 /admin/logout /admin/openid-connect?logout=

    OIDCClientID {{ _vaultwarden_oidc_client_id }}
    OIDCClientSecret {{ _vaultwarden_oidc_client_secret }}
    OIDCPassClaimsAs none
    OIDCProviderMetadataURL https://{{ _apache_gitea.server_name }}/.well-known/openid-configuration
    OIDCRedirectURI https://{{ _apache_vaultwarden.server_name }}/admin/openid-connect
    OIDCScope openid
    OIDCSessionInactivityTimeout 3600
    OIDCStateMaxNumberOfCookies 2 true
    OIDCCryptoPassphrase {{ lookup('password', '/dev/null length=64') }}

    <Location "/admin/openid-connect">
        AuthType openid-connect
        Require valid-user
    </Location>

    <Location "/admin">
        AuthType openid-connect
        Require claim groups:infra:owners
    </Location>

    ErrorLog /var/log/httpd/vaultwarden_error.log
    CustomLog /var/log/httpd/vaultwarden_access.log combined
</VirtualHost>

<VirtualHost *:80>
    ServerName {{ _apache_vaultwarden.server_name }}

    RewriteEngine On
    RewriteRule ^(.*)$ https://{{ _apache_vaultwarden.server_name }}$1 [R=301,L]

    ErrorLog /var/log/httpd/vaultwarden_error.log
    CustomLog /var/log/httpd/vaultwarden_access.log combined
</VirtualHost>
